body
{
  background-color: #F8FFF8;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6 em;
  margin: 0;
  /* 66B97B     D03B17 */
}

/*p
{
  font-size: 16px;
  line-height: 1.6em;
}*/

.container
{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

::selection
{
  background: #C13CCA;
}

#main-header
{
  /* padding-top: 20 px; */
  background-color: #FFEAC1;
}

#main-header img
{
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar
{
  background-color: #8AFFA7;
}

#navbar ul
{
  margin: 0;
  padding: 15px 10px 15px 0px;
  list-style:none;
}

#navbar li
{
  display: inline;
/*  padding-top: 15px;
  padding-bottom: 15px;*/
}

#navbar a
{
  text-decoration: none;
  color:#FFFCE1;
  font-size: 22px;
  padding: 15px 20px 15px 0;
}

#navbar a:hover
{
  text-decoration: none;
  color:#762A36;
  font-size: 22px;
}

#showcase
{
  background-image: url('../images/bg.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 300px;
  text-align: center;
}

#showcase h1
{
  padding-top: 55px;
  color: #FFFEE1;
  font-size: 60px;
  line-height: 1.4em;
  margin: 20px;
}

#fanpage
{
  position: fixed;
  top: 45%;

}

#fanpage img
{
  height: 50px;
  width: 50px;
}
#fanpage ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

#fanpage a:hover
{
  filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
}

#main
{
  float: left;
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
  line-height: 1.6em;
}

#sidebar
{
  float: right;
  width: 30%;
  background: #90F567;
  margin: 25px 0 25px 0;
  padding: 15px 10px;
  box-sizing: border-box;
}

#sidebar p
{
  font-family: sans-serif;
  line-height: 1.6em;
}

#sidebar h2
{
  margin: 5px 0 5px 10px;
}

#boxes
{
  background: #F5BF2F;
}

#boxes h1
{

}

.box
{
  box-sizing: border-box;
  float: left;
  width: 30%;
  text-align: center;
  border: 3px dotted #FFE1D1;
  padding: 50px;
  border-radius: 50%;
  margin: 0 20px 30px 20px;
}

.box h2
{
  color: #262624;
  margin: 5px;
}

.box p
{
  margin: 10px 15px;
}

#newsletter
{
  background: #295C43;
  /*margin: 0 auto;*/
  margin: auto;
/*    display: block;
  width: 100%;*/
  min-height: 150px;
}

#newsletter h1
{
  color: #fff;

}

#newsletter-form
{
  display: inline-block;
  width: 100%;
  text-align: center;
}

#newsletter-form input
{
  padding: 10px 20px;
  margin: 0;
  outline: 0;
  font-size: 18px;
  font-family: Tahoma;
}

#newsletter-form input[type=email]
{
  display: inline-block;
  width: 30%;
  background: transparent;
  border: 3px solid white;
  /*margin: 10px auto 40px auto;*/
  /*font-size: 18px;*/
  color: #fff;
  margin-right: 10px;
}

#newsletter-form input[type="submit"]
{
  background-color: transparent;
  border: 3px solid #FAF6F2;
/*  font-family: Tahoma;
  font-weight: 100;*/

  color: #FAF6F2;
}

#newsletter-form input[type="submit"]:hover
{
  border-color: #fff;
  background-color: #160017;
  color: #fff;
  font-weight: 300;
}

#foot
{
  background: #762A36;
/*    background-image: url('../images/abstract-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;*/
  color: #FFFEE1;
  text-align: center;
  /*margin-top: 60px;*/
  padding: 10px;
  /*padding-top: 30px;*/
  font-size: 16px;
  color: #C2B509;
}

.button
{
  padding: 10px 25px;
  background-color: transparent;
  border: 2px solid #FAF6F2;
  font-family: Tahoma;
  font-weight: 100;
  font-size: 18px;
  color: #FAF6F2;
  margin-bottom: 15px;
}

.button:hover
{
  border-color: #fff;
  background-color: #160017;
  color: #fff;
  font-weight: 300;
}

.button:focus
{
  outline: 0;
}

@media(max-width: 1520px)
{
  .box
  {
    margin-right: 10px;
    margin-left: 0;
  }

  .box img
  {
    width: 75px;
    height: 75px;
  }

  .box p
  {
    padding: 0px;
    font-size: 12px;
    margin: 5px;
  }

  .box h2
  {
    font-size: 18px;
    margin: 5px !important;
    padding: 0;
  }
}

@media(max-width: 850px)
{
  #boxes
  {
    text-align: center;
  }

  #boxes h1
  {
    text-align: left;
  }

  .box
  {
    box-sizing: border-box;
    float: none;
    width: 100%;
    margin-right: 10px;
    margin-left: 0;
  }

  .box img
  {
    width: 75px;
    height: 75px;
  }

  .box p
  {
    padding: 0px;
    font-size: 12px;
    margin: 5px;
  }

  .box h2
  {
    font-size: 18px;
    margin: 5px !important;
    padding: 0;
  }
}


@media(max-width: 600px)
{
/*  #navbar a
  {
    padding-right: 5px;
    padding-left: 5px;
  }*/

  #main
  {
    float: none;
    width: 100%;
  }

    #sidebar
  {
    float: none;
    width: 100%;
  }

  #navbar li
  {
    display: inline;
    padding-right: 10px;
    font-size: 14px;
  }
}